body {
  font-family: Arial, helvetica, sans-serif;
  whidt: 940px;
}
h1 {
  color: #303030;
  backgroun-color: #E1EDF2;
}
h2 {
  border-color: black;
  border-botton-style: solid;
}
figure {
  text-aling: center;
  background-color: yellow;
  color: blue;
  padding: 15px;
  margin: 30px;
}
p {
  text-aling: center;
}
  
